.logo {
  margin-top: 10px;
}

.searchInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.searchTerm {
  flex-grow: 1 1 0px;
  width: auto;
}

.icon {
  height: 30px;
  width: 30px;
}

.info {
  margin-right: 5px;
}

.resultsContainer {
  margin-top: 1rem;
}

.tableContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.infoContainer {
  margin-top: 17px;
}
